.calculator {
    padding: 30px;
    max-width: 500px;
}

.text {
    width: 99%;
    margin: auto;
    height: 50px;
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: rgb(29, 29, 29);
    color: #fff;
    border: none;
    font-size: 20px;
    text-align: end;
    display: block;
}

.number-box {
    width: 100%;
    table-layout: fixed;
}

.numder {
    padding: 10px 40px;
    font-size: 20px;
    width: 100%;
}

.numder-wide {
    width: 100%;
    padding: 10px 0 10px 0;
    font-size: 20px;
}
